@model GCook.Models.Receita

@{
    ViewData["Title"] = "Receitas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Receitas</h1>

<h4>Incluir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TempoPreparo" class="control-label"></label>
                <input asp-for="TempoPreparo" class="form-control" />
                <span asp-validation-for="TempoPreparo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Rendimento" class="control-label"></label>
                <input asp-for="Rendimento" class="form-control" />
                <span asp-validation-for="Rendimento" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Dificuldade" class="control-label"></label>
                <select asp-for="Dificuldade" class="form-control"></select>
                <span asp-validation-for="Dificuldade" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Preparo" class="control-label"></label>
                <input asp-for="Preparo" class="form-control" />
                <span asp-validation-for="Preparo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script>
        window.addEventListener("load", function() {
            document.querySelector('input[type=file]')
            .addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('Preview');
                    img.src = URL.createObjectURL(this.files[0]);
                }
            });
        });
    </script>
}